*{
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.top-bar {
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
}
h1{
    font-size: 50px;
}
h2 {
    font-size: 40px;
}
.special {
    color :salmon;
}
.special2 {
    color : slateblue;
}
section {
    height: 500px;
    padding-bottom: 300px;
}

.half-width {   
    width: 40%;
    height: 60%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    margin-top: 5%;
}

.half-width img {
    width: 100%;
}
p {
    font-weight: 300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 2px;
    margin: 10px 2px;
    text-align: left;
    font-size: medium;
}
.btn-link {
    margin: 10px 0px;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(45deg, salmon, tomato);
    padding: 8px 30px;
    border-radius: 5px;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn-link2 {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(45deg, salmon, tomato);
    padding: 8px 30px;
    border-radius: 5px;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.dream {
    background-image: url(./images/dream-bg.png);
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: right;   
}

.boxes {
    box-shadow: 10px 10px 40px grey;
    border-radius: 10px;
    height: 70%;
    

}
.experiance {
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#fullstack {
    border-left: solid 7px;
    border-image: linear-gradient(180deg, lightsalmon , tomato);
    border-image-slice: 1;
    background-color: white;
}

#baby {
    border-left: solid 7px;
    border-image: linear-gradient(180deg, blue , cyan );
    border-image-slice: 1;

}